<div class = "register-box">

  <form>

    <h3> Sign Up Now </h3>

      <label for="fullName">Enter Your Name</label><br>
      <input type="text" id="fullName"><br>

      <label for="email"> Enter Your Email</label><br>
      <input type="text" id="email"><br>

      <label for="typePassword"> Enter Your Password</label><br>
      <input type="text" id="typePassword"><br>

      <label for="confirmPassword"> Confirm Password</label><br>
      <input type="text" id="confirmPassword"><br>

    <button type="submit" id="btnStyle"> Sign Up Now</button>

    <p> already have an account? </p>

    <p id="loginText">Login Now!</p>

  </form>

  </div>
